h1{
Font-size: 25px;
color: white;
padding: 12px;
background: gray;

}
h2{
Font-size: 20px;
color: gray;


}
h3 {
	font-size: 15px;
	color:gray;
	
}
p {
	font-family:arial;
	font-size: 10px;
	
}